<section class="bg-primary p-3">
<div class="d-flex">
    <h1 class="text-white f-1">CLOZE Tester</h1>
    <div class="p-5 d-flex">
        <a href="{{base}}dashboard" class="m-r-2">Dashboard</a>
        <span id="for-teachers" style="display: none">
            <a href="{{base}}test" class="m-r-2">Create Test</a>
            <a href="{{base}}invite" class="m-r-2">Invite Student</a>
        </span>

        <a href="{{base}}login" id="login-btn">login</a>
        <a href="#" onclick="logout()" id="logout-btn" style="display: none">logout</a>
    </div>
</div>

</section>
<script>
    let currentUser = sessionStorage.user ? JSON.parse(sessionStorage.user) : null;
    function logout(){
        sessionStorage.clear()
        currentUser = null;
        renderMenu()
    }
    function renderMenu(){
        if(currentUser.user_type === 'teacher'){
            console.log('teacher')
            document.getElementById('for-teachers').style.display = 'block';
        } else {
            document.getElementById('for-teachers').style.display = 'none';
        }
        if(currentUser){
            document.getElementById('logout-btn').style.display = 'block'
            document.getElementById('login-btn').style.display = 'none'
        } else {
            document.getElementById('logout-btn').style.display = 'none'
            document.getElementById('login-btn').style.display = 'block'
        }
    }
    renderMenu()

</script>