<div class="container">
    <h1 class="font-lg">Login</h1>
    <form class="m-t-5 p-4 b-rounded b-1 b-primary" id="loginForm">
        <div class="grid-3-9">
            <label for="email">Email</label>
            <input class="w-90p" type="email" name="email" id="email">
        </div>
        <div class="grid-3-9 m-t-3">
            <label for="password">Password</label>
            <input class="w-90p" name="password" type="password" id="password">
        </div>
        <div class="grid-3-9 m-t-3">
            <span>&nbsp;</span>
            <div class="place-x-center">
                <button class="b-1 b-rounded b-gray bg-primary text-white p-x-3 p-y-1" type="submit">login</button>
            </div>

        </div>
    </form>
</div>
